@use "color-scheme.scss";

$border-radius: 20px;
$padding: 10px;
$shadow: 0px 0px 5px grey;
$transition: all 150ms ease-in-out;


:root {

    /* Set neon color */
    --neon-text-color: #f40;
  }
.main-content{
    width: 100%;
    height: 100%;
}
.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    background: transparent;
    .blur{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        //background-color: rgba(138, 138, 138, 0.1);
        backdrop-filter: brightness(70%);
        h2{
            color: white;
            font-size: 5rem;
            text-align: center;
            text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);  
            
        }
        @media (min-width:401px) {
            h2{
                animation: flicker 1.5s infinite alternate;
            }
        }
    }
}
.welcome-profile{
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: white;
    > div:nth-child(even){
        background-color: rgba(194, 194, 194, 0.1);
    }
}
.profile{
    display: flex;
    flex-flow: column nowrap;
    min-width: 25%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: $padding;
    border-right:1px solid color-scheme.$underline-color;
    overflow: hidden;
}
.welcome-text{ 
    width: fit-content;
    height: fit-content;
    padding: 0px 20px 20px 20px;  
    margin-left: 10px;
    overflow: hidden;
    font-size: inherit;
    h2{
        color: color-scheme.$primary-color;
    }
    a{
        color: color-scheme.$primary-color;

    }
    a:hover{
        filter: brightness(80%);
    }
}
@media (max-width:400px) {
    .welcome-text{
        font-size: 14px;
    }
}
.image-container{
    display: inherit;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-bottom: 5px;
    overflow: hidden;

    img{
        height: 100%;
        width: 100%;
        border-radius: 70px;
        border: 3px solid;
        border-color: color-scheme.$primary-color;
        
        object-fit: cover;
    }
}

.profile-info{  
    display: inherit;
    flex-flow: column;
    align-items: inherit;
    justify-content: flex-end;
    padding: $padding;
    width: 100%;
    background-color: color-scheme.$card-color-darker;
    border-radius: $border-radius;
    h3{
        margin-top: 0px;
        color: color-scheme.$primary-color;
        font-size: 3vh;
    }
    h4{
        margin-top: 0px;
    }
}
.socials{
    height: 40px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    transform: scale(.9);
}
@media (max-width:500px) {
    .socials{
        flex-flow: column;
        align-items: center;
        height: 150px;
        justify-content: space-between;
    }
}

.socials a{
    width: 30px;
    height: 30px;
    filter: opacity(.5); 
    transition: $transition;
    img{
    height: 100%;
    width: 100%;
    }
}
.socials a:hover{
    transform: scale(1.3);
    filter: opacity(1);
}

.counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a{
        filter: opacity(90%);
        margin-top: -10px;
        padding: 0px;
    }
}


//Project cards -----------------------------------------------------------------------

.project-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    //border-bottom: 1px solid color-scheme.$underline-color;
    .project-img{
        display: flex;
        align-items: center;
        padding: $padding;
        justify-content: center;
        min-width: 30%;
        max-width: 30%;
        height: 80%;
        border-right: 1px solid;
        margin-bottom: 0px !important;
        border-right: 1px color-scheme.$underline-color solid;
        img{
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }
    .project-info{
        display: flex;
        padding: 0 40px 0 40px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: auto;
        height: 100%;
        overflow: hidden;

        .info-title{
            display: flex;
            flex-flow: row nowrap;
            align-items:center;
            justify-content: space-between;
            width: 100%;
            height: 25%;
            border-bottom: 1px color-scheme.$underline-color solid;
            h2{
                color: color-scheme.$primary-color;
                
            }
            @media (max-width:800px) {
                h2{
                    font-size: 4vw;
                }
            }
            h4{
                margin-right: 10px;
                color: color-scheme.$primary-color;
            }
        }
        .info-text{
            height: 60%;
            overflow-y: auto;

        }
        .goto-project{
            height: 15%;
            width: 170px;
            filter: opacity(.6);
            margin-bottom: 10px;
            transition: all 150ms ease-in-out;
            .play{
                float: left;
                width: 40px;
                height: 40px;
                margin-right: 10px;
                #play-button path{
                    fill: transparent;
                    stroke-width: 3;
                    stroke: black;
                    stroke-dasharray: 190;
                    stroke-dashoffset: 190;
                    animation: animate-playbutton 3s linear infinite;
                }
            }
            p{
                height: 100%;
                margin-top: 9px;
            }
        }
        .goto-project:hover{
            transform: scale(1.1);
        }
    }
}
@keyframes animate-playbutton{
    0%{
        stroke-dashoffset: 190;
    }
    50%{
        stroke-dashoffset: 380;
    }
    100%{
        stroke-dashoffset: 570;
    }
}



.project-img{
    -webkit-animation-name: img-animation;
    animation-name: img-animation;
    -webkit-transform-origin: center;
    transform-origin: center;
    :hover{
        animation: img-animation 2s;
    }
  }
  
  @keyframes img-animation {
    from,
    0%,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    11% {
      -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
      transform: skewX(-12.5deg) skewY(-12.5deg);
    }
  
    22% {
      -webkit-transform: skewX(6.25deg) skewY(6.25deg);
      transform: skewX(6.25deg) skewY(6.25deg);
    }
  
    33% {
      -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
      transform: skewX(-3.125deg) skewY(-3.125deg);
    }
  
    44% {
      -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
      transform: skewX(1.5625deg) skewY(1.5625deg);
    }
  
    55% {
      -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
      transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }
  
    66% {
      -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
      transform: skewX(0.390625deg) skewY(0.390625deg);
    }
  
    77% {
      -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
      transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
  }
  @keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}
  
  