@use "color-scheme.scss";
@use "basic-block-main.scss";

.footer{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 20px;
    .contact-title{
        padding: basic-block-main.$padding;
        border-right: 1px color-scheme.$underline-color solid;
    }
    .info{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: row nowrap;
        width: 80%;
        height: 100%;
        margin-left: 20px;
        a p{
            margin-top: 8px;
            margin-left: 10px;
        }
    }
}
.parallax-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    background: transparent;
    .blur{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        backdrop-filter: brightness(70%);
        .contact-title{
            padding: basic-block-main.$padding;
            border-right: 1px white solid;
        }
        h1, a, p{
            color: white;
            font-size: 3vw;
        }
        img{
            width: 3.5vw;
        }
        @media screen and (max-width:800px) {
            h1, a, p{
                font-size: 4vw;
            }
        }
        @media screen and (max-width:800px) {
            img{
                width: 4.5vw;
            }
        }
        .info{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-flow: row nowrap;
            width: fit-content;
            height: fit-content;
            margin-left: 20px;
            a p{
                margin-left: 20px;
            }
        }

    }
}