
$card-color: rgba(211, 211, 211, 0.6);
$card-color-darker: rgba(0, 0, 0, 0.3);
$card-color-darker: rgba(255, 255, 255, 0.3);
$underline-color: rgba(128, 128, 128, 0.2);
$header-color: rgba(0, 0, 0, 0.6);
$primary-color: rgba(252, 100, 45, 1);
$primary-color-seethru: rgba(252, 100, 45, .7);